.date-picker-content {
  text-align: center;
}
#table-list, #table-list thead tr th {
  text-align: center;
}
#table-list tr {
  line-height: 58px !important;
}
#table-list td {
  border: 2px solid #CFD8DC;
  padding: 0 !important;
  margin: 0 !important;
}

#table-list thead tr {
  background-color: #f8f8f8;
}

#table-list thead tr th {
  border: 2px solid #CFD8DC;
  color: black !important;
  font-size: 20px !important;
}
.copy-btn-body i {
  margin-right: 10px;
}